@model CreateDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Rota</h1>
<form method="post">
    <label>Şehir</label>
    <input class="form-control" asp-for="City" type="text" />
    <br />

    <label>Gün-Gece</label>
    <input class="form-control" asp-for="DayNight" type="text" />
    <br />

    <label>Fiyat</label>
    <input class="form-control" asp-for="Price" type="text" />
    <br />

    <label>Kapasite</label>
    <input class="form-control" asp-for="Capacity" type="text" />
    <br />

    <button class="btn btn-outline-info">Oluştur</button>
</form>
