
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excell Raporu Sayfası</h1>
<br />
<a href="/Excell/DestinationExcelReport" class="btn btn-outline-dark">Dinamik Excell Rota Tablosu</a>

