@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Role Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="RoleId" />
    <label>Rol İsmi</label>
    <input class="form-control" type="text" asp-for="RoleName"/>
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>

