
<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web Uygulamasının Size Özel İstatistikleri</p>
                <h6 class="card-title">..........</h6>
                <h6>Aktif Rezervason Sayınız: 4</h6>
-                <h6>Geçmiş Rezervasyon Sayınız: 10</h6>
-                <h6>Onay Bekleyen Rezervasyon Sayınız: 10</h6>
-                <h6>Toplam Rota Sayıs: 10</h6>
-                <h6>Rehber Sayımız: 17</h6>
-                <h6>Toplam Misafir Sayımız: 1110</h6>
                -
            </div>
        </div>
    </div>
</div>